body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    color: #f1f1f1;
    overflow: hidden;
}

#navbar {
    background-color: #1f1f1f;
    color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#score-model1, #score-model2 {
    font-size: 18px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

#heatmap-toggle {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
}

#game-view-container {
    flex: 1;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: 0;
    overflow: hidden;
    position: relative;
}

#game-view, #heatmap-canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

#monitoring {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 45%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10px;
}

#nn1-view-container, #nn2-view-container {
    flex: 1;
    padding: 10px;
    background-color: #2a2a2a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

#nn1-view, #nn2-view {
    width: 100%;
    height: 100%;
}

#nn2-view-container {
    margin-right: 0;
}